.full-width {
    width: 100%;
}

.color-stock-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.color-field {
    flex: 1;
}

.stock-field {
    width: 100px;
}

.varianteForm{
    padding: 20px;
}
.talla-container{
    display: flex;
    
}