/* Sección de Perfil */
.perfil-content {
  flex-grow: 1;
  padding: 40px;
  background-color: #fff;
}

.perfil-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 40px; /* Añadido para separarlo de la siguiente sección */
}

.user-info {
  display: flex;
  align-items: center;
}

.user-photo {
  margin-right: 20px;
}

.user-photo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.user-details h2 {
  font-size: 1.8rem;
  color: #2c3e50;
}

.user-details p {
  font-size: 1rem;
  color: #7f8c8d;
  margin: 5px 0;
}

.user-details p strong {
  color: #34495e;
}

/* Código existente */
.services-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #333;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.service-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-icon {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #007bff;
}

.service-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
}

.service-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.learn-more-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
  background-color: #0056b3;
}

.seo-details {
  margin-top: 40px;
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 30px;
}

.seo-details h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

.seo-details ul {
  list-style-type: none;
  padding: 0;
}

.seo-details li {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.seo-details li::before {
  content: '✓';
  position: absolute;
  left: 0;
  color: #007bff;
}

.seo-details p {
  font-size: 1rem;
  color: #666;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .section-title {
    font-size: 2rem;
  }

  .service-card {
    padding: 20px;
  }

  /* Responsivo para la sección de perfil */
  .user-info {
    flex-direction: column;
    align-items: center;
  }

  .user-photo {
    margin-bottom: 20px;
  }
}
