<div class="login-container">
  <mat-card class="content-wrapper">
    <!-- Sección izquierda (descripción) -->
    <mat-card-content class="left-section">
      <h1>Descubre Una Nueva Experiencia en Alebrije Boutique</h1>
      <p class="description">
        Bienvenido a Alebrije Boutique, esperemos que estemos a tus expectativas en nuestra plataforma Eccomerce.
      </p>
      <div class="user-stats"></div>
    </mat-card-content>

    <!-- Sección derecha (formulario de login) -->
    <mat-card-content class="right-section">
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <h2>Inicia sesión</h2>

        <!-- Campo de correo electrónico -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Correo electrónico</mat-label>
          <input matInput type="email" id="email" name="email" [(ngModel)]="email" required email #emailInput="ngModel">
          <mat-error *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
            <div *ngIf="emailInput.errors?.['required']">El correo es requerido.</div>
            <div *ngIf="emailInput.errors?.['email']">Formato de correo no válido.</div>
          </mat-error>
        </mat-form-field>

        <!-- Campo de contraseña -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" id="password" name="password"
            [(ngModel)]="password" required minlength="8" #passwordInput="ngModel">
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility($event)"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
            <div *ngIf="passwordInput.errors?.['required']">La contraseña es requerida.</div>
            <div *ngIf="passwordInput.errors?.['minlength']">La contraseña debe tener al menos 8 caracteres.</div>
          </mat-error>
        </mat-form-field>

        <!-- Checkbox "Recuérdame" -->
        <mat-checkbox [(ngModel)]="rememberMe" name="rememberMe">Recuérdame</mat-checkbox>

        <re-captcha #captchaRef (resolved)="resolved($event)" [siteKey]="captchaSiteKey" data-action="LOGIN"
          required></re-captcha>

        <!-- Botón de inicio de sesión -->
        <app-loading-button text="Iniciar sesión" [loading]="isLoading"
          [disabled]="!loginForm.form.valid || isLoading || !captchaToken" color="primary"
          type="submit"></app-loading-button>
        <!-- Enlaces de "Olvidaste tu contraseña" y "Crear cuenta" -->
        <div class="form-links">
          <a href="/recupera" class="forgot-password">¿Olvidaste tu Contraseña?</a>
          <a href="/register" class="create-account">Crea una Cuenta</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>