.container {
    padding: 20px;
}

.view-toggle {
    text-align: right;
    margin-bottom: 20px;
}

/* Vista de cuadrícula */
.config-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.config-card {
    width: 250px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: translateY(-5px);
    }

    mat-icon {
        color: var(--mdc-filled-button-container-color);
    }

    mat-card-title {
        font-size: 1.2em;
    }
}

/* Vista de lista */
.config-list-container {
    border-radius: 4px;
}

.config-list-item {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }

    mat-icon {
        color: var(--mdc-filled-button-container-color);
    }

    .mat-list-item-content {
        padding: 8px 16px;
    }
}

/* Estilo para el divider */
mat-divider {
    margin: 0;
}

/* Media queries */
@media (max-width: 768px) {
    .config-card {
        width: 200px;
    }

    .mat-card-content p {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .config-card {
        width: 100%;
        margin: 0 10px;
    }
}