.terminos-condiciones {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  color: #007bff; /* Color para los subtítulos */
}

p {
  line-height: 1.6;
  color: #555;
}
