<div class="recupera-container">
  <div class="form-box">
    <h2>Recuperar Contraseña</h2>
    <p>Ingresa tu correo electrónico para recuperar tu contraseña.</p>

    <form (ngSubmit)="onSubmitEmail()">
      <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" placeholder="Ingrese su correo" (input)="onEmailInput($event)" required />
      </div>

      <button type="submit">Recuperar Contraseña</button>
    </form>
  </div>
</div>

<!-- Modal de verificación -->
<div class="modal" [class.active]="isModalOpen">
  <form class="form" (ngSubmit)="onSubmitVerification()">
    <span class="close" (click)="closeModal()">X</span>

    <div class="info">
      <span class="title">Verification OTP</span>
      <p class="description">Ingresa el código que le llegó a su correo electrónico</p>
    </div>

    <div class="input-fields">
      <!-- Input de código de verificación de 8 dígitos -->
      <input type="tel" maxlength="1" (input)="onVerificationCodeInput($event, 1)" required>
      <input type="tel" maxlength="1" (input)="onVerificationCodeInput($event, 2)" required>
      <input type="tel" maxlength="1" (input)="onVerificationCodeInput($event, 3)" required>
      <input type="tel" maxlength="1" (input)="onVerificationCodeInput($event, 4)" required>
      <input type="tel" maxlength="1" (input)="onVerificationCodeInput($event, 5)" required>
      <input type="tel" maxlength="1" (input)="onVerificationCodeInput($event, 6)" required>
      <input type="tel" maxlength="1" (input)="onVerificationCodeInput($event, 7)" required>
      <input type="tel" maxlength="1" (input)="onVerificationCodeInput($event, 8)" required>
    </div>

    <div class="action-btns">
      <button type="submit" class="verify">Verificar</button>
      <a class="clear" (click)="closeModal()">Limpiar</a>
    </div>
  </form>
</div>

<!-- Modal de cambio de contraseña -->
<div class="modal" [class.active]="isChangePasswordModalOpen">
  <form class="form" (ngSubmit)="onSubmitPassword()">
    <span class="close" (click)="closeChangePasswordModal()">X</span>

    <div class="info">
      <span class="title">Cambiar Contraseña</span>
      <p class="description">Ingresa una nueva contraseña y confírmala.</p>
    </div>

    <div class="input-fields">
      <input type="password" placeholder="Nueva contraseña" (input)="onNewPasswordInput($event)" required>
      <input type="password" placeholder="Confirmar contraseña" (input)="onConfirmPasswordInput($event)" required>
    </div>

    <div class="action-btns">
      <button type="submit">Cambiar Contraseña</button>
      <a class="clear" (click)="closeChangePasswordModal()">Cancelar</a>
    </div>
  </form>
</div>
