<div class="admin-dashboard">
    <h1>Panel de Configuración del Administrador</h1>
    <div class="config-card-container">
        <mat-card class="config-card" routerLink="/admin/legal">
            <h3><mat-icon>security</mat-icon>Términos y Condiciones</h3>
            <p>Configura los términos y condiciones de uso de la plataforma.</p>
        </mat-card>

        <mat-card class="config-card" routerLink="/admin/legal">
            <h3><mat-icon>privacy_tip</mat-icon>Política de Privacidad</h3>
            <p>Gestiona las políticas de privacidad para los usuarios.</p>
        </mat-card>

        <mat-card class="config-card" routerLink="/admin/legal">
            <h3><mat-icon>gavel</mat-icon>Deslinde Legal</h3>
            <p>Actualiza las cláusulas legales de la plataforma.</p>
        </mat-card>

        <mat-card class="config-card" routerLink="/admin/sistema">
            <h3><mat-icon>settings</mat-icon>Configuraciones del Sistema</h3>
            <p>Controla las configuraciones del sistema y políticas de seguridad.</p>
        </mat-card>

        <mat-card class="config-card" routerLink="/admin/empresa">
            <h3><mat-icon>business</mat-icon>Información de la Empresa</h3>
            <p>Modifica el logo, eslogan, misión y visión de la empresa.</p>
        </mat-card>

        <mat-card class="config-card" routerLink="/admin/correos">
            <h3><mat-icon>email</mat-icon>Gestión de Correos</h3>
            <p>Crea y personaliza plantillas de correos para notificaciones.</p>
        </mat-card>
    </div>
</div>