header {
  width: 100%;
  display: flex;
  flex-direction: column;
  left: 0;
position: sticky;
  .left-section {
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    button {
      margin-right: 12px;

      /* Reducir el margen */
      mat-icon {
        font-size: 22px;

      }
    }
  }

  .center-section {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      height: 50px;
      /* Reducir el tamaño del logo */
    }
  }

  .right-section {
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    button {
      margin-left: 12px;

      /* Reducir el margen */
      mat-icon {
        font-size: 22px;
        /* Reducir el tamaño de los iconos */

      }
    }
  }

  /* Ajustes responsivos */
  @media (max-width: 768px) {
    mat-toolbar {
      height: 48px;
      /* Reducir el alto del toolbar en pantallas medianas */

      .center-section .logo {
        height: 32px;
        /* Reducir el tamaño del logo */
      }

      .right-section button {
        margin-left: 8px;

        mat-icon {
          font-size: 20px;
          /* Tamaño de los iconos en pantallas más pequeñas */
        }
      }
    }
  }

  @media (max-width: 480px) {
    mat-toolbar {
      height: 40px;
      /* Reducir el alto del toolbar en pantallas pequeñas */

      .center-section .logo {
        height: 28px;
        /* Reducir el tamaño del logo */
      }

      .right-section button {
        margin-left: 5px;
        font-size: 0.85rem;

        mat-icon {
          font-size: 18px;
          /* Tamaño de los iconos en pantallas muy pequeñas */
        }
      }
    }
  }
}