<header>
  <nav>
    <div class="logo-title">
      <img src="assets/images/logoAleb.png" class="logo" />
    </div>
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/login" routerLinkActive="active">login</a></li>
      <li><a routerLink="/register" routerLinkActive="active">Registro</a></li>
      <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/perfil" routerLinkActive="active">Perfil</a></li>
    </ul>
  </nav>
</header>
