<header>
  <nav>
    <div class="logo-title">
      <img src="assets/images/logoAleb.png" class="logo" />
    </div>
    <ul>
      <li>
        <button mat-flat-button routerLink="/" routerLinkActive="active">Home</button>
      </li>
      <li *ngIf="!isLoggedIn">
        <button mat-flat-button routerLink="/login" routerLinkActive="active">Login</button>
      </li>
      <li *ngIf="!isLoggedIn">
        <button mat-flat-button routerLink="/register" routerLinkActive="active">Registro</button>
      </li>
      <li *ngIf="isLoggedIn">
        <button mat-flat-button routerLink="/dashboard" routerLinkActive="active">Dashboard</button>
      </li>
      <li *ngIf="isLoggedIn">
        <button mat-flat-button routerLink="/perfil" routerLinkActive="active">Perfil</button>
      </li>
      <li *ngIf="isLoggedIn">
        <button mat-mini-fab aria-label="Logout" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </li>
    </ul>
  </nav>
</header>
