header {
  width: 100%;
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 16px;
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.nav-buttons button {
  margin-left: 16px;
}

.spacer {
  flex: 1 1 auto;
}
