<div class="catalogo-container">
  <div class="contenido">
    <!-- Filtro con diseño acordeón -->
    <aside class="filtro-container">
      <div class="filtro-header">
        <mat-label>Filtros</mat-label>
        <!-- <span (click)="toggleFiltros()">Ocultar filtros</span>
        <button mat-icon-button (click)="toggleFiltros()">
          <mat-icon>tune</mat-icon>
        </button> -->
      </div>

      <div class="filtro-contenido" [class.oculto]="!filtrosVisibles">
        <!-- Input de búsqueda -->
        <mat-form-field appearance="fill" class="filtro-busqueda">
          <mat-label>Buscar producto</mat-label>
          <input matInput [(ngModel)]="searchText" (ngModelChange)="applyFilters()" placeholder="Buscar por nombre">
        </mat-form-field>

        <!-- Filtro de Categorías -->
        <div class="filtro-item">
          <div class="filtro-titulo" (click)="toggleSeccion('categoria')">
            <span>Categoría</span>
            <mat-icon>{{ categoriaVisibles ? 'remove' : 'add' }}</mat-icon>
          </div>
          <div class="filtro-opciones" [class.oculto]="!categoriaVisibles">
            <label *ngFor="let categoria of categorias">
              <input type="checkbox" [(ngModel)]="categoria.seleccionado" (change)="applyFilters()" />
              {{ categoria.nombre }}
            </label>
          </div>
        </div>

        <!-- Filtro de Tipos de Producto -->
        <div class="filtro-item">
          <div class="filtro-titulo" (click)="toggleSeccion('tipoProducto')">
            <span>Tipo de Producto</span>
            <mat-icon>{{ tipoProductoVisibles ? 'remove' : 'add' }}</mat-icon>
          </div>
          <div class="filtro-opciones" [class.oculto]="!tipoProductoVisibles">
            <label *ngFor="let tipo of tiposProductos">
              <input type="checkbox" [(ngModel)]="tipo.seleccionado" (change)="applyFilters()" />
              {{ tipo.nombre }}
            </label>
          </div>
        </div>

        <!-- Filtro de Marcas -->
        <div class="filtro-item">
          <div class="filtro-titulo" (click)="toggleSeccion('marca')">
            <span>Marca</span>
            <mat-icon>{{ marcaVisibles ? 'remove' : 'add' }}</mat-icon>
          </div>
          <div class="filtro-opciones" [class.oculto]="!marcaVisibles">
            <label *ngFor="let marca of marcas">
              <input type="checkbox" [(ngModel)]="marca.seleccionado" (change)="applyFilters()" />
              {{ marca.nombre }}
            </label>
          </div>
        </div>
        <!-- Filtro por Precio -->
<div class="filtro-item">
  <div class="filtro-titulo" (click)="toggleSeccion('precio')">
    <span>Precio</span>
    <mat-icon>{{ precioVisibles ? 'remove' : 'add' }}</mat-icon>
  </div>
  <div class="filtro-opciones" [class.oculto]="!precioVisibles">
    <div class="precio-rango">
      <mat-form-field appearance="outline">
        <mat-label>Precio Mínimo</mat-label>
        <input matInput type="number" [(ngModel)]="precioMinSeleccionado" (input)="applyFilters()" placeholder="0">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Precio Máximo</mat-label>
        <input matInput type="number" [(ngModel)]="precioMaxSeleccionado" (input)="applyFilters()" placeholder="10000">
      </mat-form-field>
    </div>
  </div>
</div>

        <!-- Filtro de Tallas -->
        <!-- <div class="filtro-item">
          <div class="filtro-titulo" (click)="toggleSeccion('talla')">
            <span>Talla</span>
            <mat-icon>{{ tallaVisibles ? 'remove' : 'add' }}</mat-icon>
          </div>
          <div class="filtro-opciones" [class.oculto]="!tallaVisibles">
            <label *ngFor="let talla of tallas">
              <input type="checkbox" [(ngModel)]="talla.seleccionado" (change)="applyFilters()" />
              {{ talla.talla }}
            </label>
          </div>
        </div> -->

        <!-- Filtro de Colores -->
        <!-- <div class="filtro-item">
          <div class="filtro-titulo" (click)="toggleSeccion('colores')">
            <span>Color</span>
            <mat-icon>{{ coloresVisibles ? 'remove' : 'add' }}</mat-icon>
          </div>
          <div class="filtro-opciones color-palette" [class.oculto]="!coloresVisibles">
            <div *ngFor="let color of colores" class="color-box" [ngStyle]="{ 'background-color': color.colorHex }"
              (click)="toggleFilter(color, 'color')" [class.selected]="color.seleccionado">
            </div>
          </div>
        </div> -->
      </div>
    </aside>

    <section class="catalogo-content fade-in" #productosContainer>
      <h1>Catálogo</h1>
      <section class="todos-productos">
 <!-- Selector de ordenamiento -->
 <div class="ordenamiento-precio">
  <mat-form-field appearance="outline">
    <mat-label>Ordenar por</mat-label>
    <mat-select [(value)]="ordenSeleccionado" (selectionChange)="ordenarProductos()">
      <mat-option value="mayor-menor">Mayor a menor precio</mat-option>
      <mat-option value="menor-mayor">Menor a mayor precio</mat-option>
    </mat-select>
  </mat-form-field>
</div>

        <h2>Todos los productos</h2>

        <div class="grid-productos">
          <div class="producto" *ngFor="let producto of filteredProductos">
            <div class="etiqueta-descuento" *ngIf="producto.tienePromocion">
  <mat-icon class="icono-descuento">local_offer</mat-icon>
  {{ producto.descuento }}% OFF
</div>

<a [routerLink]="['/menu-catalogo/productos/producto-detalle', producto.id]">
  <img [src]="producto.imagenPrincipal" [alt]="producto.nombre || 'Producto'">
</a>
<p><b>{{ producto.nombre || 'Sin nombre' }}</b></p>

<!-- Precio con descuento si aplica -->
<p *ngIf="producto.tienePromocion">
  <span class="precio-original">{{ producto.precio | currency }}</span>
  <span class="precio-descuento">{{ producto.precioFinal | currency }}</span>
</p>
<p *ngIf="!producto.tienePromocion">
  {{ producto.precio | currency }}
</p>

            <!-- Mostrar las estrellas -->
<div class="calificacion">
  <span *ngFor="let estrella of generarEstrellasArray(producto.calificacionPromedio); let i = index">
    <mat-icon [ngClass]="estrella === 1 ? 'estrella-activa' : 'estrella-inactiva'">star</mat-icon>
  </span>
  <span *ngIf="producto.calificacionPromedio">({{ producto.calificacionPromedio }} / 5)</span>
</div>

            <!-- <app-loading-button [text]="'Agregar al carrito'" [loading]="loadingCarrito[producto.id] || false"
              [color]="'primary'" (click)="agregarAlCarrito(producto)">
              <mat-icon>shopping_cart</mat-icon>
            </app-loading-button> -->

          </div>
          <div class="no-productos" *ngIf="filteredProductos.length === 0 && !isLoading">
            <p>No hay productos disponibles con los filtros seleccionados.</p>
          </div>
        </div>
      </section>
    </section>
  </div>
</div>
