<div class="catalogo-container">
  <div class="contenido">
    <!-- Filtro fijo en la barra lateral izquierda -->
    <aside class="filtro-container">
      <h3>Filtrar por:</h3>

      <!-- Campo de búsqueda -->
      <mat-form-field appearance="fill" class="filtro-busqueda">
        <mat-label>Buscar producto</mat-label>
        <input matInput [(ngModel)]="searchText" (input)="filtrarProductos()" placeholder="Buscar por nombre">
      </mat-form-field>

      <!-- Categorías -->
      <div>
        <h4>Categorías</h4>
        <label *ngFor="let categoria of categorias">
          <input type="checkbox" [(ngModel)]="categoria.seleccionado" (change)="filtrarProductos()" />
          {{ categoria.nombre }}
        </label>
      </div>

      <!-- Colores -->
      <div>
        <h4>Colores</h4>
        <div class="color-palette">
          <div
            *ngFor="let color of colores"
            class="color-box"
            [ngStyle]="{ 'background-color': color.valor }"
            (click)="toggleColor(color)"
            [class.selected]="color.seleccionado"
          ></div>
        </div>
      </div>
    </aside>

    <section class="catalogo-content">
      <!-- Título -->
      <h1>Catálogo</h1>

      <!-- Sección de Todos los Productos -->
      <section class="todos-productos">
        <h2>Todos los productos</h2>

        <div class="grid-productos">
          <div class="producto" *ngFor="let producto of filteredProductos">
            <img routerLink="producto-detalle" [src]="producto.imagen" [alt]="producto.nombre">
            <h3>{{ producto.nombre }}</h3>
            <p>{{ producto.precio | currency }}</p>
            <button mat-stroked-button color="primary">
              <mat-icon>shopping_cart</mat-icon> Agregar al carrito
            </button>
          </div>
        </div>
      </section>

      <!-- Sección de Más Vendida -->
      <!-- <section class="mas-vendida">
        <div class="header">
          <h2>Más vendida</h2>
          <a routerLink="/mas-vendida">➔</a>
        </div>

        <div class="productos-destacados">
          <div class="producto" *ngFor="let producto of productosDestacados">
            <img [src]="producto.imagen" [alt]="producto.nombre">
            <h3>{{ producto.nombre }}</h3>
            <p>{{ producto.precio | currency }}</p>
            <button mat-stroked-button color="primary">
              <mat-icon>shopping_cart</mat-icon> Agregar al carrito
            </button>
          </div>
        </div>
      </section> -->
    </section>
  </div>
</div>
