<div class="admin-dashboard">
  <lib-toastify-toast-container></lib-toastify-toast-container>
  <!-- Barra lateral de navegación -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" class="sidenav" [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
      <h2>Menú</h2>
      <mat-nav-list>
        <mat-list-item routerLink="/admin/inicio" routerLinkActive="active-link">Inicio</mat-list-item>
        <mat-list-item routerLink="/admin/legal" routerLinkActive="active-link">Legalidades</mat-list-item>
        <mat-list-item routerLink="/admin/sistema" routerLinkActive="active-link">Configuración del Sistema</mat-list-item>
        <mat-list-item routerLink="/admin/empresa" routerLinkActive="active-link">Información de la Empresa</mat-list-item>
        <mat-list-item routerLink="/admin/correos" routerLinkActive="active-link">Gestión de Correos </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Contenido principal -->
    <mat-sidenav-content class="main-content">
      <mat-toolbar color="primary" *ngIf="isMobile">
        <button mat-icon-button (click)="sidenav.toggle()" *ngIf="isMobile">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Menú</span>
      </mat-toolbar>
      
      <section class="greeting mat-elevation-z4">
        <h1>Bienvenido Administrador</h1>
        <p>Administra todas las configuraciones del sistema desde este panel.</p>
      </section>

      <main class="main-content router">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
