.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #6e8efb);
  font-family: 'Arial', sans-serif;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 1200px;
  background-color: var(--mat-select-panel-background-color);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.left-section, .right-section {
  flex: 1;
  padding: 40px;
}

.left-section {
  background: url('https://images.unsplash.com/photo-1557426272-fc759fdf7a8d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') center/cover no-repeat;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.description {
  font-size: 1.1em;
  margin-bottom: 30px;
  line-height: 1.6;
}


.user-stats {
  display: flex;
  justify-content: space-between;
}

.stat {
  text-align: center;
}

.number {
  font-size: 2em;
  font-weight: bold;
  display: block;
}

.label {
  font-size: 0.9em;
  opacity: 0.8;
}


form {
  display: flex;
  flex-direction: column;
}



.form-group {
  margin-bottom: 20px;
}

input[type="text"]{
  max-height: 50px;
  margin: 0;
  padding: 0;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.remember-me input {
  margin-right: 10px;
}


.form-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-links a {
  color: var(--mdc-filled-button-container-color);
  text-decoration: none;
  font-size: 0.9em;
}

mat-form-field{
  margin-bottom: 10px;
}
mat-error{
  margin-top: -15px;
}


@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    width: 90%;
  }

  .left-section, .right-section {
    width: 100%;
    padding: 30px;
  }

  .user-stats {
    flex-direction: column;
    align-items: center;
  }

  .stat {
    margin-bottom: 20px;
  }
}
