.home-container {
  max-width: 1200px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: var(--mat-select-panel-background-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  overflow: hidden; /* Agrega esto */
}

h1 {
  font-size: 2.5rem;
}

p {
  margin: 1rem 0;
}

.section-title {
  margin: 3rem 0 1rem;
}

.product-showcase {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.product-card {
  flex: 1 1 300px;
  background-color: var(--mat-app-background-color);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
  align-items: center;
}

.product-card img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.product-card h3 {
  font-size: 1.5rem;
}

.product-card p {
  margin-bottom: 1rem;
}

.single-card {
  margin: 2rem 0;
  padding: 2rem;
  background-color: var(--mat-app-background-color);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.single-card h2 {
  font-size: 2rem;
}

/* Hero section */
.hero {
  background-color: #f8f9fa;
  padding: 40px 20px;
  text-align: center;
}

.hero-content h1 {
  font-size: 2.5rem;
  color: #333;
}

.hero-content p {
  font-size: 1rem;
  color: #666;
  margin: 10px 0;
}

.search-bar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  padding: 10px;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}

.search-bar button {
  padding: 10px 15px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-bar button mat-icon {
  font-size: 20px;
}

.section h2 {
  font-size: 1.5rem;
  margin: 20px;
  color: #444;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  padding: 20px;
}

.products-carousel {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  gap: 16px;
}

.products-carousel .product-card {
  flex: 0 0 auto;
  width: 150px;
}
/* Animación de aparición */
.fade-in {
  opacity: 0;
  transform: scale(0.95); /* Cambia translateY por scale */
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.visible {
  opacity: 1;
  transform: scale(1);
}
.promo-nombre {
  font-weight: bold;
  margin: 0.3rem 0;
}

.promo-etiqueta {
  font-size: 0.9rem;
  color: #d32f2f;
}

.promo-fechas {
  font-size: 0.8rem;
  color: #555;
}
.product-card img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  background-color: #f2f2f2;
}


