<div class="hero">
  <div class="hero-content">
    <h1>Bienvenido a Alebrije Boutique</h1>
    <p>Explora nuestra colección de ropa para niños, priorizando comodidad, calidad y estilo.</p>
    <div class="search-bar">
      <input type="text" placeholder="Busca ropa y más" />
      <button mat-button routerLink="/productos" routerLinkActive="active">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
</div>

<section class="section">
  <h2>Más vendida</h2>

  <div class="products-grid fade-in" #homeContainer>
    <div class="product-card" *ngFor="let product of bestSellers">
      <img [src]="imageUrl" alt="{{ product.title }}">
      <p>{{ product.title }}</p>
      <span>${{ product.price }}</span>
    </div>
  </div>
</section>

<section class="section">
  <h2>Ofertas de liquidación</h2>
  <div class="products-grid fade-in" #liquiContainer>
    <div class="product-card" *ngFor="let product of clearanceOffers">
      <img [src]="imageUrl" alt="{{ product.title }}">
      <p>{{ product.title }}</p>
    </div>
  </div>
</section>

<section class="section">
  <h2>Promociones activas</h2>

  <div class="products-grid fade-in">
    <ng-container *ngIf="promociones.length > 0; else sinPromo">
      <ng-container *ngFor="let promo of promociones">
        <ng-container *ngFor="let producto of promo.productos">
  <div class="product-card">
   <img [src]="producto.imagenes?.[0]?.url || 'assets/images/logoAle.png'" alt="Imagen de producto">
<small>{{ producto.id }}</small>


    <p class="promo-nombre">{{ producto.nombre }}</p>

            <p class="promo-etiqueta">{{ promo.nombre }} – {{ promo.descuento }}%</p>
            <p class="promo-fechas">Válido hasta {{ promo.fecha_fin | date:'shortDate' }}</p>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-template #sinPromo>
      <p>No hay promociones activas.</p>
    </ng-template>
  </div>
</section>



