.home-container {
  max-width: 1200px; /* Ancho máximo del contenedor */
  margin: 18rem auto; /* Centrar el contenedor con un margen superior */
  padding: 1rem; /* Espaciado interno */
  background-color: #ffffff; /* Color de fondo */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para el contenedor */
  border-radius: 10px; /* Bordes redondeados */
}

h1 {
  color: #333; /* Color del título principal */
  text-align: center; /* Centrar el texto */
  margin: 0; /* Eliminar márgenes para que se ajuste mejor */
}

p {
  text-align: center; /* Centrar párrafos */
  color: #666; /* Color del texto */
}

/* Agrupación de tarjetas */
.info-cards {
  display: flex;
  justify-content: center; /* Centrar las tarjetas */
  flex-wrap: wrap; /* Permitir que las tarjetas se envuelvan en filas */
  margin-top: 1rem; /* Margen superior entre el título y las tarjetas */
}

/* Estilos de cada tarjeta */
.card {
  flex: 1 1 300px; /* Flexibilidad en el tamaño, mínimo 300px */
  margin: 1rem; /* Espacio entre tarjetas */
  padding: 1rem; /* Espaciado interno */
  background-color: #f8f9fa; /* Color de fondo de las tarjetas */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra para las tarjetas */
  transition: transform 0.3s; /* Transición suave */
}

.card:hover {
  transform: translateY(-5px); /* Efecto de elevar la tarjeta al pasar el mouse */
}
