<h1 class="cart-title">CARRITO</h1>

<!-- Si hay productos en el carrito, muestra la lista -->
<div class="cart-container" *ngIf="cartItems.length > 0">
  <!-- Sección izquierda: Lista de productos en el carrito -->
  <div class="cart-left">
    <mat-card class="cart-item" *ngFor="let item of cartItems">
      <div class="cart-item-container">
        <!-- Imagen del producto -->
        <div class="product-image-container">
          <img [src]="item.imagen" alt="{{ item.nombre }}" class="product-image">
        </div>

        <!-- Contenedor de la información del producto -->
        <div class="product-details">
          <h2><a href="#">{{ item.nombre }}</a></h2>
          <p><strong>Talla:</strong> {{ item.talla }}</p>
          <p class="price">{{ item.precio | currency }}</p>
        </div>

        <!-- Contenedor de cantidad -->
        <div class="quantity-controls">
          <button mat-icon-button color="primary" (click)="updateQuantity(item.id, item.talla, item.cantidad + 1, item.stock)">
            <mat-icon>add</mat-icon>
          </button>
          <input matInput type="number" [value]="item.cantidad" min="1" [max]="item.stock"
                 (change)="onQuantityChange($event, item.id, item.talla, item.stock)">
          <button mat-icon-button color="primary" (click)="updateQuantity(item.id, item.talla, item.cantidad - 1, item.stock)">
            <mat-icon>remove</mat-icon>
          </button>
        </div>

        <!-- Acciones -->
        <div class="actions">
          <button mat-button color="warn" class="remove" (click)="removeFromCart(item.id, item.talla)">
            <mat-icon>delete_forever</mat-icon> Eliminar artículo
          </button>
        </div>
      </div>
    </mat-card>
  </div>

  <!-- Sección derecha: Resumen del pedido -->
  <div class="cart-right">
    <h2>RESUMEN</h2>
    <p><span>Total parcial</span> <span>{{ getTotal() | currency }}</span></p>
    <p class="total"><strong>Total del Pedido</strong> <strong>{{ getTotalWithShipping() | currency }}</strong></p>
    <button mat-button color="primary" class="buy-button" [routerLink]="'/checkout'">
      Comprar Ahora <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>

<!-- Si el carrito está vacío, muestra el mensaje llamativo -->
<div class="empty-cart fade-in" *ngIf="cartItems.length === 0">
  <h2>¡Tu carrito está vacío! 🛒</h2>
  <p>Explora nuestra tienda y encuentra lo que necesitas.</p>
  <button mat-raised-button color="primary" routerLink="/menu-catalogo/productos" class="explore-button">
    <mat-icon>storefront</mat-icon> Explorar Productos
  </button>
</div>
