.button-container {
    display: inline-block;
    width: 100%;
}

.login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

mat-spinner {
    margin-left: 8px;
}