.list-container {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.activo-chip {
    background-color: #4caf50 !important;
    span{
        color: white !important;
    }
}

.inactivo-chip {
    background-color: #f44336 !important;
    span{
        color: white !important;
    }
}

.filters {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

mat-form-field {
    width: 200px;
}

table {
    width: 100%;
}

mat-chip {
    font-size: 12px;
}