/* Estilos para el componente principal de la aplicación */
:host {
  display: flex;
  flex-direction: column; /* Organiza los elementos en una columna */
  min-height: 100vh; /* Asegura que el componente ocupe al menos toda la altura de la pantalla */
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

::ng-deep .main-content > * {
  flex: 1;
}

.layout {
  display: flex;
}

.main-content {
  flex: 1;
  margin-left: 250px; /* Desplaza el contenido principal a la derecha de la barra */
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
