/* Estilos para el componente principal de la aplicación */
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilo para el contenedor de migas de pan */
.breadcrumb-container {
  background-color: #f8f9fa; /* Fondo suave para las migas de pan */
  border-bottom: 1px solid #ddd; /* Línea separadora */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.p-breadcrumb-item-link {
  color: #007bff; /* Color azul para los links */
  text-decoration: none; /* Quitar subrayado por defecto */
  font-weight: bold;
  margin-right: 8px;
}

.p-breadcrumb-item-link:hover {
  color: #0056b3; /* Color al pasar el ratón */
}

.text-color {
  color: #6c757d; /* Color gris para las etiquetas */
}

/* Mejora el espaciado y alineación de los elementos dentro de las migas de pan */
.p-breadcrumb .p-breadcrumb-item {
  display: flex;
  align-items: center;
}

.p-breadcrumb .p-breadcrumb-item + .p-breadcrumb-item::before {
  content: ">  "; /* Usamos un ícono de flecha para separar las migas */
  margin: 0 8px;
  color: #6c757d;
}

/* Estilos adicionales para el contenido principal */
.layout {
  display: flex;
  flex: 1;
  overflow: hidden; // Previene desbordamientos
}

app-sidebar {
  width: 120px;
  flex-shrink: 0;
  overflow-y: auto; /* Permite scroll vertical en la barra lateral */
  max-height: 100%; /* Asegura que no supere la altura del contenedor padre */
  position: sticky; /* Mantiene la barra lateral en su posición */
  top: 0; /* Fija la barra lateral en la parte superior */
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto; // Permite scroll si el contenido es muy largo
}

/* Estilos responsivos */
@media (max-width: 768px) {
  app-sidebar {
    width: 60px; // Reduce el ancho en pantallas pequeñas
  }
}

// Asegura que los componentes hijos ocupen todo el espacio
.layout > * {
  height: 100%;
}