<div>
  <div class="perfil-content">
    <h1>Perfil de Usuario</h1>


    <mat-card class="perfil-seccion">
      <div class="seccion-header">
        <h2>Información básica</h2>
        <p class="info-subtitle">
          <a routerLink="/perfil/config">Más información</a>
        </p>
      </div>

      <mat-divider></mat-divider>

      <div class="info-row">
        <div class="label">Foto de perfil</div>
        <div class="value user-photo">
          <img mat-card-avatar src="assets/images/ropa.jpg" alt="Foto de Perfil">
          <p class="info-secondary">Agrega una foto para personalizar tu cuenta</p>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="info-row">
        <div class="label">Nombre</div>
        <div class="value">{{ user?.nombre }} {{ user?.apellido_paterno }} {{ user?.apellido_materno }}</div>
      </div>

      <mat-divider></mat-divider>

      <div class="info-row">
        <div class="label">Género</div>
      </div>
    </mat-card>

    <mat-card class="perfil-seccion">
      <div class="seccion-header">
        <h2>Información de contacto</h2>
      </div>

      <mat-divider></mat-divider>

      <div class="info-row">
        <div class="label">Correo electrónico</div>
        <div class="value">
          <p>{{ user?.email }}</p>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="info-row">
        <div class="label">Teléfono</div>
        <div class="value">{{ user?.telefono }}</div>
      </div>
    </mat-card>

    <mat-card class="perfil-seccion">
      <div class="seccion-header">
        <h2>Pedidos Recientes</h2>
      </div>

      <mat-divider></mat-divider>

      <div *ngIf="pedidos.length > 0; else noPedidos">
        <mat-card *ngFor="let pedido of pedidos" class="pedido-card">
          <h3>Pedido #{{ pedido.id }}</h3>
          <p><strong>Estado:</strong> {{ pedido.estado }}</p>
          <p><strong>Total:</strong> {{ pedido.total | currency }}</p>
          <p><strong>Fecha:</strong> {{ pedido.fecha_venta | date:'medium' }}</p>
        </mat-card>

        <div class="ver-mas-container">
          <a routerLink="pedidos" class="ver-mas">Ver todos los pedidos</a>
        </div>
      </div>

      <ng-template #noPedidos>
        <p>No tienes pedidos aún.</p>
      </ng-template>
    </mat-card>
  </div>

    <mat-card class="perfil-seccion">
      <div class="seccion-header">
        <h2>Direcciones</h2>
        <p class="info-subtitle">
          Las direcciones se utilizan para personalizar tus experiencias.
        </p>
        <p class="info-subtitle">
          También puedes agregar direcciones a tu perfil.
          <a href="#">Más información</a>
        </p>
      </div>

      <mat-divider></mat-divider>

      <div class="info-row">
        <div class="label">Domicilio</div>
      </div>
    </mat-card>
  </div>
