/* Sección de Perfil */
.perfil-content {
  flex-grow: 1;
  padding: 40px;
}

.perfil-card {
  background-color: var(--mat-select-panel-background-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 40px; /* Añadido para separarlo de la siguiente sección */
  position: relative;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-photo {
  margin-right: 20px;
}

.user-photo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.user-details h2 {
  font-size: 1.8rem;
}

.user-details p {
  font-size: 1rem;
  margin: 5px 0;
}


/* Código existente */
.services-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.service-card {
  /* Color de fondo para cards */
  background-color: var(--mat-select-panel-background-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-icon {
  font-size: 3rem;
  margin-bottom: 20px;
}

.service-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.service-description {
  font-size: 1rem;
  margin-bottom: 20px;
}

.learn-more-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
  background-color: #0056b3;
}

/* Estilo del botón de settings */
.settings-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Estilo del botón de settings (reutilizado) */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  height: 36px;
  width: 120px;
  border: none;
  background: black;
  border-radius: 20px;
  cursor: pointer;
}

.lable {
  line-height: 20px;
  font-size: 17px;
  color: white;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.button:hover {
  background: grey;
}

.button:hover .svg-icon {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .section-title {
    font-size: 2rem;
  }

  .service-card {
    padding: 20px;
  }

  /* Responsivo para la sección de perfil */
  .user-info {
    flex-direction: column;
    align-items: center;
  }

  .user-photo {
    margin-bottom: 20px;
  }
}
