<div>
  <div class="perfil-content">
    <h1>Perfil de Usuario</h1>


    <mat-card class="perfil-seccion">
      <div class="seccion-header">
        <h2>Información básica</h2>
        <p class="info-subtitle">
          <a routerLink="/perfil/config">Más información</a>
        </p>
      </div>

      <mat-divider></mat-divider>

      <div class="info-row">
        <div class="label">Foto de perfil</div>
        <div class="value user-photo">
          <img mat-card-avatar src="assets/images/ropa.jpg" alt="Foto de Perfil">
          <p class="info-secondary">Agrega una foto para personalizar tu cuenta</p>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="info-row">
        <div class="label">Nombre</div>
        <div class="value">{{ user?.nombre }} {{ user?.apellido_paterno }} {{ user?.apellido_materno }}</div>
      </div>

      <mat-divider></mat-divider>

      <div class="info-row">
        <div class="label">Género</div>
      </div>
    </mat-card>

    <mat-card class="perfil-seccion">
      <div class="seccion-header">
        <h2>Información de contacto</h2>
      </div>

      <mat-divider></mat-divider>

      <div class="info-row">
        <div class="label">Correo electrónico</div>
        <div class="value">
          <p>{{ user?.email }}</p>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="info-row">
        <div class="label">Teléfono</div>
        <div class="value">{{ user?.telefono }}</div>
      </div>
    </mat-card>

    <mat-card class="perfil-seccion">
      <div class="seccion-header">
        <h2>Direcciones</h2>
        <p class="info-subtitle">
          Las direcciones se utilizan para personalizar tus experiencias.
        </p>
        <p class="info-subtitle">
          También puedes agregar direcciones a tu perfil.
          <a href="#">Más información</a>
        </p>
      </div>

      <mat-divider></mat-divider>

      <div class="info-row">
        <div class="label">Domicilio</div>
      </div>
    </mat-card>
  </div>
</div>
