<div class="reglas-container">
    <h2>Reglas de participación</h2>
    <ul>
        <li>Debes iniciar sesión y cumplir con los criterios que aquí se definen para girar la ruleta.</li>
        <li>Los intentos se otorgan según la cantidad de productos comprados (mínimo 2 en una semana) o un total de
            compras mayor a $200 en un período de tiempo determinado.</li>
        <li>Los premios tienen un tiempo límite de validez y un código único que debes ingresar al pagar.</li>
        <li>Solo se puede usar un cupón por transacción, aplicando automáticamente el que otorgue mayor beneficio.</li>
        <li>El descuento se aplica solo si la compra supera el valor mínimo especificado en el premio, si así lo menciona.</li>
        <li>Los cupones expiran automáticamente al usarse o al cumplir su fecha límite.</li>
    </ul>
    <button class="close-btn" (click)="dialogRef.close()">Cerrar</button>
</div>