<div class="dialog-container">
    <h2 class="dialog-title">
        Cambiar contraseña
        <mat-icon matTooltip="Actualiza tu contraseña de forma segura" matTooltipPosition="right"
            class="help-icon">help_outline</mat-icon>
    </h2>

    <form [formGroup]="newPasswordFormGroup" (ngSubmit)="onSubmit()" class="password-form">
        <!-- Contraseña Actual -->
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Contraseña actual</mat-label>
            <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" formControlName="currentPassword"
                required [matTooltip]="'Ingresa tu contraseña actual para verificar tu identidad'"
                matTooltipPosition="right" />
            <button mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword"
                [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="hideCurrentPassword">
                <mat-icon>{{ hideCurrentPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="newPasswordFormGroup.get('currentPassword')?.hasError('required')">
                La contraseña actual es requerida
            </mat-error>
        </mat-form-field>

        <!-- Nueva Contraseña -->
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Nueva contraseña</mat-label>
            <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword" required
                [matTooltip]="'La contraseña debe tener al menos 8 caracteres, incluyendo mayúsculas, minúsculas y números'"
                matTooltipPosition="right" />
            <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword"
                [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="hideNewPassword">
                <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="newPasswordFormGroup.get('newPassword')?.hasError('required')">
                La nueva contraseña es requerida
            </mat-error>
            <mat-error *ngIf="newPasswordFormGroup.get('newPassword')?.hasError('minlength')">
                La nueva contraseña debe tener al menos 8 caracteres
            </mat-error>
            <mat-error *ngIf="newPasswordFormGroup.get('newPassword')?.hasError('weakPassword')">
                La contraseña no es lo suficientemente fuerte.
            </mat-error>
            <div class="password-strength" [ngClass]="{ 
                'veryWeak': passwordStrengthMessage === 'Muy débil',
                'weak': passwordStrengthMessage === 'Débil',
                'medium': passwordStrengthMessage === 'Normal',
                'strong': passwordStrengthMessage === 'Fuerte', 
                'veryStrong': passwordStrengthMessage === 'Muy fuerte' 
                }">
                {{ passwordStrengthMessage }}
            </div>
        </mat-form-field>

        <!-- Confirmar Nueva Contraseña -->
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Confirmar contraseña</mat-label>
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword"
                required [matTooltip]="'Vuelve a escribir tu nueva contraseña para confirmar'"
                matTooltipPosition="right" />
            <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
                [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="hideConfirmPassword">
                <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="newPasswordFormGroup.get('confirmPassword')?.hasError('required')">
                La confirmación de contraseña es requerida
            </mat-error>
            <mat-error *ngIf="newPasswordFormGroup.get('confirmPassword')?.hasError('passwordMismatch')">
                Las contraseñas no coinciden
            </mat-error>
        </mat-form-field>

        <div class="dialog-actions">
            <button mat-button (click)="onCancel()" class="cancel-button" matTooltip="Cancelar el cambio de contraseña"
                matTooltipPosition="above">
                Cancelar
            </button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!newPasswordFormGroup.valid"
                class="submit-button" matTooltip="Guardar tu nueva contraseña" matTooltipPosition="above">
                Guardar Cambios
            </button>
        </div>
    </form>
</div>