.admin-dashboard {
    height: 100%;
    section{
        text-align: center;
    }
    h1 {
        font-size: 2em;
    }

    h1,
    h3 {
        margin: 0;
        line-height: 1.2;
    }

    p {
        padding-top: 10px;
    }

    /* Responsivo */
    @media (max-width: 768px) {
        .config-card {
            width: 200px;
        }
        .sidenav {
            width: 100%;
        }
        h1 {
            font-size: 1.5em;
        }
        p {
            font-size: 0.9em;
        }
    }

    @media (max-width: 480px) {
        .config-card {
            width: 100%;
            margin: 0 10px;
        }
    }
}