<h2 mat-dialog-title>{{ titulo }}</h2>
<mat-dialog-content>
    <form [formGroup]="detalleForm" class="form">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" required>
            <mat-error *ngIf="detalleForm.get('nombre')?.invalid">
                El nombre es obligatorio.
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="esColor" appearance="outline" class="full-width">
            <mat-label>Selecciona un color</mat-label>
            <input matInput type="color" formControlName="hex">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button type="button" (click)="dialogRef.close()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="guardar()">Aceptar</button>
</mat-dialog-actions>