/* Estilos del contenedor de la página */
.recupera-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px; // Espaciado en dispositivos más pequeños
  box-sizing: border-box; // Asegura que el padding no afecte el tamaño total
}

.form-box {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%; // Asegura que el ancho sea del 100%
  max-width: 480px; // Limita el ancho para mejor visualización
  box-sizing: border-box; // Para asegurar que el padding no afecte el ancho
}

.form-box h2 {
  margin-bottom: 10px;
}

.form-box p {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  width: 100%; // Asegura que los grupos de formulario ocupen el 100% de su contenedor
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos del modal */
/* Estilos del formulario dentro del modal */
.form {
  border: 2px solid var(--glow-color);
  padding: 25px;
  display: flex;
  max-width: 420px;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .15);
}

/*----heading and description-----*/
.info {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 900;
}

.description {
  margin-top: 10px;
  font-size: 1rem;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .recupera-container {
    padding: 20px; // Espaciado adicional para dispositivos más pequeños
  }

  .form-box {
    padding: 15px; // Menos padding en dispositivos más pequeños
  }

  .form-group input {
    padding: 8px; // Menos padding en el input
  }

  .form {
    max-width: 90%; // Permite que el modal ocupe más ancho
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.2rem; // Ajusta el tamaño de la fuente
  }

  .description {
    font-size: 0.9rem; // Ajusta el tamaño de la fuente
  }
}
