.politicas-privacidad {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    color: var(--mat-app-text-color);
  }
  
  
  p {
    line-height: 1.6;
    color: var(--mat-app-text-color)
  }
  