<div class="dashboard-container">
  <h1>Configuración de Usuario</h1>

  <!-- 🟦 Información Personal -->
  <mat-card class="info-section personal-info">
    <mat-card-title>Información Personal</mat-card-title>
    <mat-divider></mat-divider>

    <div class="info-group">
      <label for="nombre">Nombre:</label>
      <div class="info-item">
        <p id="nombre">{{ usuario?.nombre }}</p>
        <!-- <button mat-mini-fab color="primary" (click)="editarCampo('nombre')">
          <mat-icon>edit</mat-icon>
        </button> -->
      </div>
    </div>

    <div class="info-group">
      <label for="apellido-paterno">Apellido Paterno:</label>
      <div class="info-item">
        <p id="apellido-paterno">{{ usuario?.apellido_paterno }}</p>
        <!-- <button mat-mini-fab color="primary" (click)="editarCampo('apellido_paterno')">
          <mat-icon>edit</mat-icon>
        </button> -->
      </div>
    </div>

    <div class="info-group">
      <label for="apellido-materno">Apellido Materno:</label>
      <div class="info-item">
        <p id="apellido-materno">{{ usuario?.apellido_materno }}</p>
        <!-- <button mat-mini-fab color="primary" (click)="editarCampo('apellido_materno')">
          <mat-icon>edit</mat-icon>
        </button> -->
      </div>
    </div>

    <div class="info-group">
      <label for="telefono">Teléfono:</label>
      <div class="info-item">
        <p id="telefono">{{ usuario?.telefono }}</p>
        <!-- <button mat-mini-fab color="primary" (click)="editarCampo('telefono')">
          <mat-icon>edit</mat-icon>
        </button> -->
      </div>
    </div>
  </mat-card>

  <!-- 🟨 Información de la Cuenta -->
  <mat-card class="info-section account-info">
    <mat-card-title>Información de Cuenta</mat-card-title>
    <mat-divider></mat-divider>

    <div class="info-group">
      <label for="nombre">Nombre:</label>
      <div class="info-item">
        <p id="nombre">{{ usuario?.nombre }}</p>
        <!-- <button mat-mini-fab color="primary" (click)="editarCampo('nombre')">
          <mat-icon>edit</mat-icon>
        </button> -->
      </div>
    </div>

    <div class="info-group">
      <label for="correo">Correo Electrónico:</label>
      <p id="correo">{{ usuario?.email }}</p>
    </div>

    <div class="info-group">
      <label for="contrasena">Contraseña:</label>
      <button mat-mini-fab color="warn" (click)="openChangePasswordDialog()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
