<div class="dashboard-container">
  <h1>Configuración de Usuario</h1>

  <!-- Información Personal -->
  <div class="info-section personal-info">
    <h2>Información Personal</h2>

    <div class="info-group">
      <label for="nombre">Nombre:</label>
      <div class="info-item">
        <p id="nombre">{{ usuario?.nombre }}</p>
        <!-- <button mat-mini-fab color="primary" (click)="editarCampo('nombre')">
          <mat-icon>edit</mat-icon>
        </button> -->
      </div>
    </div>

    <div class="info-group">
      <label for="apellido-paterno">Apellido Paterno:</label>
      <div class="info-item">
        <p id="apellido-paterno">{{ usuario?.apellido_paterno }}</p>
        <!-- <button mat-mini-fab color="primary" (click)="editarCampo('apellido_paterno')">
          <mat-icon>edit</mat-icon>
        </button> -->
      </div>
    </div>

    <div class="info-group">
      <label for="apellido-materno">Apellido Materno:</label>
      <div class="info-item">
        <p id="apellido-materno">{{ usuario?.apellido_materno }}</p>
        <!-- <button mat-mini-fab color="primary" (click)="editarCampo('apellido_materno')">
          <mat-icon>edit</mat-icon>
        </button> -->
      </div>
    </div>

    <div class="info-group">
      <label for="telefono">Teléfono:</label>
      <div class="info-item">
        <p id="telefono">{{ usuario?.telefono }}</p>
        <!-- <button mat-mini-fab color="primary" (click)="editarCampo('telefono')">
          <mat-icon>edit</mat-icon>
        </button> -->
      </div>
    </div>
  </div>

  <!-- Información de la Cuenta -->
  <div class="info-section account-info">
    <h2>Información de Cuenta</h2>
    <div class="info-group">
      <label for="nombre">Nombre:</label>
      <div class="info-item">
        <p id="nombre">{{ usuario?.nombre }}</p>
        <!-- <button mat-mini-fab color="primary" (click)="editarCampo('nombre')">
          <mat-icon>edit</mat-icon>
        </button> -->
      </div>
    </div>
    <div class="info-group">
      <label for="correo">Correo Electrónico:</label>
      <p id="correo">{{ usuario?.email }}</p>
    </div>
    <div class="info-group">
      <label for="contrasena">Contraseña</label>
      <button mat-mini-fab color="primary" (click)="openChangePasswordDialog()">
        <mat-icon>edit</mat-icon>
      </button>      
    </div>
  </div>

</div>
