/* You can add global styles to this file, and also import other style files */
/* Estilos generales de la aplicación */
body {
  font-family: 'Arial', sans-serif; /* Fuente para la aplicación */
  margin: 0; /* Elimina márgenes por defecto */
  padding: 0; /* Elimina padding por defecto */
  background-color: #f4f4f4; /* Color de fondo de la página */
}

/* Contenedor principal */
.container {
  max-width: 1200px; /* Ancho máximo del contenedor */
  margin: auto; /* Centra el contenedor horizontalmente */
  padding: 1rem; /* Espaciado interno del contenedor */
}

/* Estilos para títulos */
h1, h2, h3 {
  color: #333; /* Color de los títulos */
}

/* Estilo de enlaces */
a {
  text-decoration: none; /* Sin subrayado */
  color: #007BFF; /* Color de los enlaces */
}

a:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

