/* You can add global styles to this file, and also import other style files */
/* Estilos generales de la aplicación */
/* Estilos globales de la aplicación */
html,
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--mat-app-background-color);
  overflow: auto;
  height: auto !important; /* Permitir que la página crezca dinámicamente */
  overflow-y: visible !important; /* Permitir scroll vertical */
}

/* Estilos del scrollbar para toda la aplicación */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--mdc-filled-button-container-color);
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--mat-select-panel-background-color);
  border-radius: 10px;
  border: 3px solid transparent; /* Asegura que el radio sea visible */
  background-clip: padding-box;  /* Evita que el borde se solape con el fondo */
}

/* Estilos para títulos */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--mat-app-text-color);
  /* Color de los títulos */
}

/* Estilo de enlaces */
a {
  text-decoration: none;
  /* Sin subrayado */
  color: var(--mdc-filled-button-container-color);
  /* Color de los enlaces */
}

li a {
  color: var(--mdc-filled-button-container-color);
}

a:hover {
  text-decoration: underline;
  /* Subrayado al pasar el mouse */
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Color para el toolbar */
.mat-toolbar {
  background-color: var(--mdc-fab-container-color) !important;
}

input[type="password"]::-ms-reveal {
  display: none;
}

/* Color de fondo para cards:
background-color: var(--mat-select-panel-background-color);
*/