.terminos-condiciones {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: var(--mat-app-text-color);
}

p {
  line-height: 1.6;
  color: var(--mat-app-text-color);
}

/* Animación de aparición */
.fade-in {
  opacity: 0;
  transform: scale(0.95); /* Cambia translateY por scale */
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.visible {
  opacity: 1;
  transform: scale(1);
}
