<footer>
  <mat-toolbar color="warn" class="footer-toolbar">
    <div class="footer-content">
      <div class="footer-links">
          <button mat-button routerLink="/terminos-condiciones" routerLinkActive="active">Términos y Condiciones</button>
        
          <button mat-button routerLink="/politicas-privacidad" routerLinkActive="active">Políticas de Privacidad</button>
        
          <p class="footer-text">&copy; 2024 Alebrije Boutique. Todos los derechos reservados.</p>
      </div>
    </div>
  </mat-toolbar>
</footer>