<footer>
  <mat-toolbar color="warn" class="footer-toolbar">
    <div class="footer-content">
      <div class="footer-main">
        <div class="footer-section legal">
          <div class="footer-links">
            <h3 class="footer-title">Documentos Legales</h3>
            <button mat-button routerLink="/terminos-condiciones" routerLinkActive="active">
              Términos y Condiciones
            </button>
            <button mat-button routerLink="/politicas-privacidad" routerLinkActive="active">
              Políticas de Privacidad
            </button>
            <button mat-button routerLink="/aviso-privacidad" routerLinkActive="active">
              Aviso de Privacidad
            </button>
            <button mat-button routerLink="/deslinde-legal" routerLinkActive="active">
              Deslinde Legal
            </button>
          </div>
        </div>

        <div class="footer-section contact">
          <h3 class="footer-title">Contacto</h3>
          <div class="footer-contact">
            <span>Email: {{ companyInfo.email }}</span>
            <span>Teléfono: {{ companyInfo.telefono }}</span>
            <span>Dirección: {{ companyInfo.direccion }}</span>
          </div>
        </div>
      </div>

      <!-- Ícono de red social con enlace -->
      <div>
        <a *ngIf="companyInfo.redSocial" [href]="companyInfo.redSocial" target="_blank">
          <img width="48" height="48" src="https://img.icons8.com/fluency/48/facebook-new.png" alt="facebook-new" />
        </a>
      </div>

      <div class="footer-bottom">
        <p class="footer-text"><i>"Viste tu mundo de color"</i></p>
        <p class="footer-text">&copy; 2024 Alebrije Boutique. Todos los derechos reservados.</p>
      </div>
    </div>
  </mat-toolbar>
</footer>
