footer {
  width: 100%;
}

.footer-toolbar {
  display: flex;
  flex-direction: column;
}

.footer-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  background-color: var(--mdc-fab-container-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  width: 100%;
  padding: 16px;
}

.footer-links button {
  margin: 0.5rem 0;
}

.footer-text {
  margin: 0;
  text-align: center;
  font-size: 0.8rem;
}