<mat-menu #themeMenu="matMenu" class="mat-toolbar">
  <mat-radio-group [(ngModel)]="selectedTheme" (change)="changeTheme(selectedTheme)">
    <mat-radio-button 
      class="theme-option" 
      *ngFor="let theme of themes" 
      [value]="theme.value" 
      aria-label="Theme option: {{ theme.name }}" 
      matTooltip="Seleccionar {{ theme.name }} como tema">
      <div class="theme-info">
        <span class="theme-color" [ngStyle]="{'background-color': theme.color}"></span>
        {{ theme.name }}
      </div>
    </mat-radio-button>
  </mat-radio-group>
</mat-menu>

<!-- Icon button to open the theme menu -->
<button 
mat-icon-button 
[matMenuTriggerFor]="themeMenu" 
aria-label="Select Theme" 
matTooltip="Abrir menú de selección de tema">
<mat-icon>palette</mat-icon>
</button>
