.registration-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  border-radius: 10px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.section {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.error-message {
  color: #d32f2f;
  font-size: 0.875em;
  margin-top: 5px;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #45a049;
}

.submit-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

.password-strength {
  margin-top: 10px;
  font-size: 0.875em;
  color: #4caf50; /* Cambia el color según sea necesario */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 600px) {
  .registration-container {
    padding: 10px;
  }

  .section {
    padding: 15px;
  }

  .radio-group {
    flex-direction: column;
    gap: 10px;
  }
}


/* Enhance button interactivity */
.submit-btn:active {
  transform: scale(0.98);
}
/* Estilos para el medidor de fortaleza de la contraseña */
.password-strength {
  margin-top: 5px;
  font-size: 0.875em;
}

.password-strength.veryWeak {
  color: #8b0f07;
}
.password-strength.weak {
  color: #f44336;
}
.password-strength.medium {
  color: #ff9800;
}

.password-strength.strong {
  color: #4caf50;
}
.password-strength.veryStrong {
  color: #20239e;
}

.section mat-form-field  {
  margin-left: 8px;
}

.full-width {
  width: calc(100% - 16px); /* Ajusta el ancho del campo para tener en cuenta los márgenes */
  max-width: 680px; /* Limita el ancho máximo si es necesario */
  margin-bottom: 10px;
}

.passButton {
  background-color: white;
  color: black;
  position: relative;
  right: 8px; 
  max-height: 50px;
}
input {
  height: 48px; /* Ajusta la altura según sea necesario */
  max-height: 50px;
}

input[type="text"]{
  max-height: 50px;
  margin: 0;
  padding: 0;
}
form{
  padding: 5px;
}
mat-error{
  padding-bottom: 5px;
}