.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 1rem 0;
}
.content-wrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 1200px;
  background-color: var(--mat-select-panel-background-color);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.section {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  max-width: 580px;
  width: calc(90% - 50px);
}


.error-message {
  color: #d32f2f;
  font-size: 0.875em;
  margin-top: 5px;
}


.password-strength {
  margin-top: 10px;
  font-size: 0.875em;
  color: #4caf50; /* Cambia el color según sea necesario */
}

/* Estilos para el medidor de fortaleza de la contraseña */
.password-strength {
  margin-top: 5px;
  font-size: 0.875em;
}

.password-strength.veryWeak {
  color: #8b0f07;
}
.password-strength.weak {
  color: #f44336;
}
.password-strength.medium {
  color: #ff9800;
}

.password-strength.strong {
  color: #4caf50;
}
.password-strength.veryStrong {
  color: #20239e;
}

.section mat-form-field  {
  margin-left: 8px;
}

.full-width {
  width: calc(100% - 16px); /* Ajusta el ancho del campo para tener en cuenta los márgenes */
  max-width: 600px; /* Limita el ancho máximo si es necesario */
  margin-bottom: 10px;
}

input {
  height: 48px; /* Ajusta la altura según sea necesario */
  max-height: 50px;
}

input[type="text"]{
  max-height: 50px;
  margin: 0;
  padding: 0;
}
form{
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
mat-error{
  padding-bottom: 5px;
}
.submitButton{
  display: flex;
  align-self: center;
}


.content-wrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 1200px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.left-section {
  flex: 1;
  padding: 20px;
  background: linear-gradient(to left, var(--mdc-filled-button-container-color), var(--mdc-fab-container-color));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-section h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.left-section .description {
  font-size: 1.2rem;
}

.right-section {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.submitButton {
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }
  .left-section,
  .right-section {
    padding: 20px;
  }
}
