.registration-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--mat-select-panel-background-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.section {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  max-width: 580px;
  width: calc(90% - 50px);
}


.error-message {
  color: #d32f2f;
  font-size: 0.875em;
  margin-top: 5px;
}


.password-strength {
  margin-top: 10px;
  font-size: 0.875em;
  color: #4caf50; /* Cambia el color según sea necesario */
}


@media (max-width: 600px) {
  .registration-container {
    padding: 10px;
  }

  .section {
    padding: 15px;
  }

  .radio-group {
    flex-direction: column;
    gap: 10px;
  }
}


/* Estilos para el medidor de fortaleza de la contraseña */
.password-strength {
  margin-top: 5px;
  font-size: 0.875em;
}

.password-strength.veryWeak {
  color: #8b0f07;
}
.password-strength.weak {
  color: #f44336;
}
.password-strength.medium {
  color: #ff9800;
}

.password-strength.strong {
  color: #4caf50;
}
.password-strength.veryStrong {
  color: #20239e;
}

.section mat-form-field  {
  margin-left: 8px;
}

.full-width {
  width: calc(100% - 16px); /* Ajusta el ancho del campo para tener en cuenta los márgenes */
  max-width: 600px; /* Limita el ancho máximo si es necesario */
  margin-bottom: 10px;
}

input {
  height: 48px; /* Ajusta la altura según sea necesario */
  max-height: 50px;
}

input[type="text"]{
  max-height: 50px;
  margin: 0;
  padding: 0;
}
form{
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
mat-error{
  padding-bottom: 5px;
}
.submitButton{
  display: flex;
  align-self: center;
}