<div class="registration-container">
  <h2>Registro</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="section personal-info">
      <h3>Informacion Personal</h3>
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" id="name" formControlName="name" aria-label="Name">
        <div *ngIf="registrationForm.get('name')?.invalid && (registrationForm.get('name')?.dirty || registrationForm.get('name')?.touched)" class="error-message">
          Ingrese su Nombre
        </div>
      </div>
      <div class="form-group">
        <label for="surname">Apellido</label>
        <input type="text" id="surname" formControlName="surname" aria-label="Surname">
        <div *ngIf="registrationForm.get('surname')?.invalid && (registrationForm.get('surname')?.dirty || registrationForm.get('surname')?.touched)" class="error-message">
          Ingrese su Apellido
        </div>
      </div>
      <div class="form-group">
        <label for="email">Correro electronico</label>
        <input type="email" id="email" formControlName="email" aria-label="Email Address">
        <div *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)" class="error-message">
          Ingrese un correo valido
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Telefono</label>
        <input type="tel" id="phone" formControlName="phone" aria-label="Phone Number">
        <div *ngIf="registrationForm.get('phone')?.invalid && (registrationForm.get('phone')?.dirty || registrationForm.get('phone')?.touched)" class="error-message">
          Ingrese un numero de telefono valido
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="registrationForm.invalid || isSubmitting" class="submit-btn">
      <span *ngIf="!isSubmitting">Registrar</span>
      <div *ngIf="isSubmitting" class="spinner"></div>
    </button>
  </form>
</div>
