<div class="register-container">
  <mat-card class="content-wrapper">
    <!-- Sección izquierda (descripción) -->
    <mat-card-content class="left-section">
      <h1>Descubre Una Nueva Experiencia en Alebrije Boutique</h1>
      <p class="description">
        Bienvenido a Alebrije Boutique, esperemos que estemos a tus expectativas en nuestra plataforma Eccomerce.
      </p>
      <div class="user-stats"></div>
    </mat-card-content>

    <!-- Sección derecha (formulario de login) -->
    <mat-card-content class="right-section">
      <mat-card-header>
        <mat-card-title>
          <h2>Registro de usuario</h2>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <!-- Nombre -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" />
            <mat-error
              *ngIf="registrationForm.get('name')?.invalid && (registrationForm.get('name')?.dirty || registrationForm.get('name')?.touched)">
              Este campo es requerido
            </mat-error>
          </mat-form-field>

          <!-- Apellido Paterno -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Apellido Paterno</mat-label>
            <input matInput formControlName="surnamePaterno" />
            <mat-error
              *ngIf="registrationForm.get('surnamePaterno')?.invalid && (registrationForm.get('surnamePaterno')?.dirty || registrationForm.get('surnamePaterno')?.touched)">
              Este campo es requerido
            </mat-error>
          </mat-form-field>

          <!-- Apellido Materno -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Apellido Materno</mat-label>
            <input matInput formControlName="surnameMaterno" />
            <mat-error
              *ngIf="registrationForm.get('surnameMaterno')?.invalid && (registrationForm.get('surnameMaterno')?.dirty || registrationForm.get('surnameMaterno')?.touched)">
              Este campo es requerido
            </mat-error>
          </mat-form-field>

          <!-- Correo Electrónico -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput type="email" formControlName="email" />
            <mat-error
              *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)">
              Ingrese un correo válido
            </mat-error>
          </mat-form-field>

          <!-- Teléfono -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Teléfono</mat-label>
            <input matInput type="tel" formControlName="phone" />
            <mat-error
              *ngIf="registrationForm.get('phone')?.invalid && (registrationForm.get('phone')?.dirty || registrationForm.get('phone')?.touched)">
              Ingrese un número de teléfono válido
            </mat-error>
          </mat-form-field>

          <!-- Contraseña -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword" class="passButton">
              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error
              *ngIf="registrationForm.get('password')?.invalid && (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched)">
              Ingrese una contraseña válida
            </mat-error>
            <div class="password-strength" [ngClass]="{ 
              'veryWeak': passwordStrengthMessage === 'Muy débil',
              'weak': passwordStrengthMessage === 'Débil',
              'medium': passwordStrengthMessage === 'Normal',
              'strong': passwordStrengthMessage === 'Fuerte', 
              'veryStrong': passwordStrengthMessage === 'Muy fuerte' 
              }">
              {{ passwordStrengthMessage }}
            </div>
          </mat-form-field>

          <!-- Confirmar Contraseña -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirmar Contraseña</mat-label>
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" />
            <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword" class="passButton">
              <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error
              *ngIf="registrationForm.get('confirmPassword')?.invalid && (registrationForm.get('confirmPassword')?.dirty || registrationForm.get('confirmPassword')?.touched)">
              {{ getConfirmPasswordErrorMessage() }}
            </mat-error>
          </mat-form-field>

          <!-- Botón de Registro -->
          <button mat-stroked-button color="primary" type="submit" [disabled]="registrationForm.invalid"
            class="submitButton">
            Registrarse
          </button>
        </form>
      </mat-card-content>

      <mat-card-footer>
        <div *ngIf="isSubmitting" class="spinner"></div>
      </mat-card-footer>
    </mat-card-content>
  </mat-card>
</div>